.boton-navbar {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-color: inherit;
    padding: 0 6vh;
    transition: background-color 0.3s ease-in;
}

.boton-navbar:hover {
    background-color: #666;
    transition: background-color 0.3s ease-in;
}