.boton-navbar {
    flex: 1;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    transition: transform 0.3s ease-in;
    transform: scale(1);
    font-size: 2.6vh;
    background-color: inherit;
    transition: background-color;
}

.menu-celu .boton-navbar {
    width: 100%;
}

.boton-navbar.selected {
    background-color: rgb(43, 43, 43);
    transition: background-color 0.3s;
    height: 100%;
}