.cont-not-found {
    position: fixed;
    left: 30vw;
    width: 40vw;
    height: 50vh;
}

@media (max-width: 1000px) {
    .cont-not-found { left: 15vw; width: 70vw; }
}
@media (max-width: 500px) {
    .cont-not-found { left: 10vw; width: 80vw; }
}

.cont-not-found img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cont-not-found h2 {
    margin-top: -8vh;
    text-align: center;
}