
.cont-item-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-item-list-container .greeting {
    text-align: center;
    color: #7a7a7a;
    padding: 2vh 0;
}
