.cont-cart-container {
    background: grey;
    width: 60vw;
    height: 70vh;
    padding: 2vh;
    border-radius: 2vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    text-align: center;
    
}
