:root {
  --navbar-height: 12vh;
  --navbar-color: black;
}


@font-face {
  font-family: 'Azonix';
  src: local('Azonix'), url(./fonts/Azonix.otf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Black.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Medium.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-ExtraLight.ttf) format('truetype');
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  padding-top: var(--navbar-height);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

body, html {
  width: 100vw;
}

.cont-app {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 15px; */
}

/* Media queries */
@media (max-width: 850px) {
  .cont-app { width: 90vw; }
}
@media (max-width: 500px) {
  .cont-app { width: 100vw; }
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}