:root {
  --navbar-height: 12vh;
  --navbar-color: black;
  --cards-background: #e4e4e4;
  --cards-text:rgb(116, 116, 116);
}


@font-face {
  font-family: 'Azonix';
  src: local('Azonix'), url(./fonts/Azonix.otf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Black.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Medium.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-ExtraLight.ttf) format('truetype');
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  padding-top: var(--navbar-height);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

body, html {
  width: 100vw;
}

.cont-app {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 15px; */
}

/* Media queries */
@media (max-width: 850px) {
  .cont-app { width: 90vw; }
}
@media (max-width: 500px) {
  .cont-app { width: 100vw; }
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 1em 2em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

/*Estilos para scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 12px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: grey; 
	border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: grey; 
  }