:root {
  --navbar-height: 13vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  padding-top: var(--navbar-height);
}

.espaciado-grande {
  font-size: 5vh;
  margin: 5vh;
}